.app{
    height: 100vh;
    
    .sections{
        width: 100%;
        height: calc(100vh - 80px);
        position: relative;
        top: 80px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;// for firebox
        &::-webkit-scrollbar{
            display: none;//for chrome and others
        }

        > *{
            width: 100vw;
            height: calc(100vh - 200px);
            scroll-snap-align: start;
        }
    }
}