$mainColor: #5398BE;

$width: 768px;
$widthMed: 540px;
$widthMini: 360px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};

@mixin mobileMini {
    @media (max-width: #{$widthMini}){
        @content
    }
};

@mixin mobileMed {
    @media (max-width: #{$widthMed}){
        @content
    }
}

